# Annotation analysis

This noteboook

* illustrates the steps of the analysis currently implemented
* is used to analyze and monitor workers batch by batch

In [1]:
from load_data import load_experiment_data
from analyze_workers import get_worker_analysis, get_worker_contradiction_outlier_analysis
from analyze_pairs import get_pair_analysis
from analyze_pairs import show_pairs_of_worker
from analyze_pairs import compare_runs
from calculate_iaa import get_agreement
from analyze_relations_and_examples import agreement_relations_across_runs
#from aggregate_labels import get_overview

# Analyze worker contradictions:

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

### Current batch

In [26]:
run = 4
batch = 128
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_worker_analysis(data_dict_list, name)
df.drop(['annotations'], axis = 1, inplace=True)
df[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails', 'n_annotations']]

Discarded 0.0 annotations.

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails,n_annotations
0,5b1e7a55c813a60001480313,0.128205,10,0,72
1,5c6400cbcb937d00012d8866,0.076923,6,0,72
3,5d0f8633c8ca0c00155a49c2,0.076923,6,0,72
4,5d5047590ea65a001adcec9f,0.076923,6,0,72
9,5ea7175ee1fab30c110e59f8,0.076923,6,0,72
2,5cf5475052e49400153b3c5d,0.025641,2,0,72
7,5e7cd4f79bebe5330d0234d6,0.025641,2,1,72
6,5e6500c3819b9d279c050de2,0.012821,1,1,72
5,5d50fbe64e3713001a005a19,0.000000,0,0,72
8,5e9cfd9cee0aed225ed1c501,0.000000,0,1,72

### All annotations

* Workers with highest contradiction to annotations ratio appear on top
* use the pandas dataframe sort method to sort on other values: 
* Check how the behavior of a specific worker with many contradictions compares to other workers

`df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')`

In [18]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df_total, filepath = get_worker_analysis(data_dict_list, name)
analysis_type = 'workers'
df_outliers = get_worker_contradiction_outlier_analysis(analysis_type, run, group, batch)
df_total.drop(['annotations'], axis = 1, inplace=True)
df_total[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails']][:10]

Discarded 655.0 annotations.
Results written to: ../analyses/workers-outliers/run-all--group_experiment-all--batch-all-.csv

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails
223,5c2c7eae8a20f50001e9a8c0,0.770115,67,0
683,5bfed16ca1f050000102693c,0.712644,62,1
874,5d6ef000391fb4001a97337d,0.696970,69,1
1060,111,0.650000,39,0
635,5c91321c0375460001034cb8,0.633333,38,0
197,5e8115962b00617ffc1b04ad,0.633333,57,0
1028,5d76a2dc2a476a0001ce6843,0.625000,45,1
688,5e2f554c4c58fa515ad361d0,0.600000,3,0
180,5e8cffa6f387850d0476f30a,0.576923,45,0
788,5e87276d17cdf1028850af59,0.529412,54,1

In [7]:
# Good workers
df_total[['workerid', 'contradiction_poss_contradiction_ratio', 'n_contradictions', 'n_fails']][-20:]

,workerid,contradiction_poss_contradiction_ratio,n_contradictions,n_fails
329,5cb92adbe0e8ab000176f421,0.0,0,0
96,55a15444fdf99b04310c8c85,0.0,0,0
333,5cae54fbe5b99b0015a57a33,0.0,0,1
334,5d50fbe64e3713001a005a19,0.0,0,2
345,5dc6d78cac77c74d18692044,0.0,0,1
346,5e1103e212e922000bc4bdf9,0.0,0,0
81,5c9be64e7eead40016aebc0c,0.0,0,0
350,56e99d054111eb000c77885b,0.0,0,0
354,5c3fb75eca00d30001c5187d,0.0,0,0
923,5c922ee24faf8b00014ca145,0.0,0,0
655,5c665e1948985d0001f09675,0.0,0,0
653,5dc2ef762bdeaa2048421817,0.0,0,0
364,5ea0448e208a8a03174218a0,0.0,0,0
644,5de5a14236d82552feeaf5ee,0.0,0,0
917,598ee5e333481c000164d32e,0.0,0,0
367,5badd3d7de6f4900019e4148,0.0,0,0
920,5e33cc7c4e448c394a198acc,0.0,0,0
374,5c251fdd17d86a00017d3c96,0.0,0,1
922,5bd34b706546650001029bec,0.0,0,0
171,5c4082b3fe87360001a55874,0.0,0,0

### Get all contradictions and fails of a particular worker 

* Check if a specfic worker continuously contradicts themselves (and fails checks)

In [6]:
# copy from above - worker with many disagreements in target batch
worker = '5dc1f283fc1cda15c5015611'


# df.loc[df['column_name'] == some_value]
df_total.loc[df_total['workerid'] == worker]

,average_time_question,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,contradictory_pairs_ratio,fail_annotation_ratio,n_annotations,n_contradictions,n_fails,n_possible_contradictions,workerid,...,"(affording_activity, rare)","(typical_of_property, unusual)","(afforded_unusual, impossible)","(afforded_usual, impossible)","(impossible, typical_of_property)","(impossible, typical_of_concept)","(implied_category, impossible)","(afforded_unusual, rare)","(affording_activity, impossible)","(afforded_usual, rare)"
154,9.774582,0.142857,0.130081,0.310345,0.004464,224,32,1,246,5dc1f283fc1cda15c5015611,...,0.00813,0.01626,NaN,NaN,0.012195,0.00813,0.00813,NaN,0.004065,NaN

# Analyze pairs

* compars number of annotator contradictions among pairs

### Current batch:

In [8]:
run = '4'
batch = '121'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df

Discarded 0.0 annotations.

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,workers_contradicting,workers_not_contradicting,"(implied_category, unusual)","(implied_category, rare)","(affording_activity, rare)","(rare, typical_of_property)","(rare, typical_of_concept)"
3,74.827080,0.030000,0.025000,100,3,120,10,2,square-blackboard,0.2,5be385ba24f70e00018b0024 5e6504672a0d1627bc5e2b69,5b479eb95a02af0001a79012 5c62a91524035400014b6...,1.0,1.0,1.0,NaN,NaN
4,74.304916,0.019802,0.016667,101,2,120,10,1,sweet-linseed,0.1,5e6504672a0d1627bc5e2b69,5b479eb95a02af0001a79012 5be385ba24f70e00018b0...,1.0,1.0,NaN,NaN,NaN
7,74.827080,0.040000,0.033333,100,4,120,10,1,wheels-runabout,0.1,5b479eb95a02af0001a79012,5be385ba24f70e00018b0024 5c62a91524035400014b6...,NaN,1.0,1.0,1.0,1.0
0,74.827080,0.000000,0.000000,100,0,120,10,0,black-giraffe,0.0,,5b479eb95a02af0001a79012 5be385ba24f70e00018b0...,NaN,NaN,NaN,NaN,NaN
1,74.827080,0.000000,0.000000,100,0,120,10,0,made_of_wood-pintle,0.0,,5b479eb95a02af0001a79012 5be385ba24f70e00018b0...,NaN,NaN,NaN,NaN,NaN
2,74.827080,0.000000,0.000000,100,0,150,10,0,fly-whitethroat,0.0,,5b479eb95a02af0001a79012 5be385ba24f70e00018b0...,NaN,NaN,NaN,NaN,NaN
5,187.067700,0.000000,0.000000,40,0,0,10,0,yellow-lemongrass,0.0,,5b479eb95a02af0001a79012 5be385ba24f70e00018b0...,NaN,NaN,NaN,NaN,NaN
6,74.304916,0.000000,0.000000,101,0,120,10,0,hot-bath,0.0,,5b479eb95a02af0001a79012 5be385ba24f70e00018b0...,NaN,NaN,NaN,NaN,NaN
8,748.270800,0.000000,0.000000,10,0,0,10,0,_check1-_check1,0.0,,5b479eb95a02af0001a79012 5be385ba24f70e00018b0...,NaN,NaN,NaN,NaN,NaN
9,748.270800,0.000000,0.000000,10,0,0,10,0,_test2-_test2,0.0,,5b479eb95a02af0001a79012 5be385ba24f70e00018b0...,NaN,NaN,NaN,NaN,NaN

### Get rows with pairs annotated by specific workers:

* Check if a worker in the only one contradicting or if others also had issues with the pairs

In [5]:
worker = '5dc1f283fc1cda15c5015611'

show_pairs_of_worker(worker, df)

Worker 5dc1f283fc1cda15c5015611 contradicted themselves in the following pairs:

### Compare to entire annotation set

In [9]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df, filepath = get_pair_analysis(data_dict_list, name)
df.drop(['annotations_with_contradiction'], axis = 1, inplace=True)
df[:10]

Discarded 655.0 annotations.

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(affording_activity, unusual)","(implied_category, unusual)","(affording_activity, impossible)","(affording_activity, rare)","(implied_category, rare)","(implied_category, impossible)","(rare, typical_of_property)","(afforded_unusual, unusual)","(afforded_unusual, rare)","(afforded_usual, rare)"
1345,91.487260,0.206667,0.155000,150,31,200,15,14,roll-bucket,0.933333,...,NaN,3.0,NaN,NaN,3.0,1.0,1.0,8.0,8.0,1.0
1012,50.681993,0.299363,0.235000,157,47,200,15,13,roll-nut,0.866667,...,NaN,6.0,NaN,NaN,3.0,2.0,NaN,11.0,5.0,1.0
1225,74.643380,0.146667,0.110000,150,22,200,15,13,roll-tray,0.866667,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN
1276,67.068860,0.180000,0.135000,150,27,200,15,13,roll-glass,0.866667,...,NaN,5.0,NaN,NaN,3.0,NaN,NaN,9.0,5.0,NaN
1203,62.036720,0.293333,0.220000,150,44,200,15,12,roll-bolt,0.800000,...,NaN,3.0,NaN,NaN,4.0,1.0,2.0,6.0,5.0,3.0
376,70.416410,0.300000,0.250000,100,30,120,10,8,dangerous-pusher,0.800000,...,5.0,3.0,3.0,2.0,3.0,1.0,1.0,NaN,NaN,NaN
1299,77.292245,0.235669,0.185000,157,37,200,15,12,roll-peg,0.800000,...,NaN,2.0,NaN,NaN,3.0,2.0,1.0,8.0,8.0,3.0
1247,68.401000,0.233333,0.175000,150,35,200,15,12,roll-hammer,0.800000,...,NaN,3.0,NaN,NaN,1.0,2.0,NaN,8.0,5.0,NaN
1408,83.715110,0.200000,0.133333,100,20,150,10,8,roll-windshield,0.800000,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,5.0,5.0,1.0
1207,81.443980,0.240000,0.180000,150,36,200,15,12,roll-car,0.800000,...,NaN,5.0,NaN,NaN,1.0,2.0,NaN,11.0,5.0,1.0

In [12]:
# check specific pair:

pair = 'yellow-pineapple'
df.loc[df['pair'] == pair]

,average_time_pair,contradiction_annotation_ratio,contradiction_poss_contradiction_ratio,n_annotations,n_contradictions,n_possible_contradictions,n_workers,n_workers_contradicting,pair,ratio_workers_contradicting,...,"(typical_of_concept, unusual)","(typical_of_property, unusual)","(afforded_usual, impossible)","(rare, typical_of_concept)","(rare, typical_of_property)","(afforded_unusual, unusual)","(afforded_unusual, rare)","(afforded_unusual, impossible)","(afforded_usual, unusual)","(afforded_usual, rare)"
385,117.431317,0.0,0.0,60,0,0,10,0,yellow-pineapple,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Compare contradictions between runs:

In [10]:
run = '3'
batch = '*'
n_q = '*'
group = 'experiment1'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df1, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
name = f'run{run}-group_{group}-batch{batch}'.replace('*', '-all-')
df2, filepath = get_pair_analysis(data_dict_list, name)
print(f'analysis can be found at: {filepath}')

name1 = '3'
name2 = '4'
compare_runs(name1, name2, df1, df2, comp = 'all')
#print()
#compare_runs(name1, name2, df1, df2, comp = 'pairs')

Discarded 655.0 annotations.
analysis can be found at: ../analyses/pairs/run3-group_experiment1-batch-all-.csv
Discarded 0.0 annotations.
analysis can be found at: ../analyses/pairs/run4-group_experiment2-batch-all-.csv
Set 3 as a contradiction ratio of 0.2528971962616822
Set 4 as a contradiction ratio of 0.09645075421472937
The ratio is based on the number of workers annotating a pair.
A worker always annotates a full set.

(0.2528971962616822, 0.09645075421472937)

# Inter-annotator agreement

* Total agreement
* Agreement by relations
* agreement after removing annotators with many contradictions/annotators who fail checks/contradictory annotations

## Total iaa:

In [27]:
run = '*'
batch = '*'
n_q = '*'
group = 'experiment*'
print(f"Run {run}, all experiment groups:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
#get_agreement(data_dict_list)

run = '*'
batch = '*'
n_q = '*'
group = 'experiment1'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)

get_agreement(data_dict_list)

Run *, all experiment groups:
Discarded 655.0 annotations.
Run *:
Discarded 655.0 annotations.

/Users/piasommerauer/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:576: RuntimeWarning: invalid value encountered in true_divide
  k = np.sum(w_mat * confusion) / np.sum(w_mat * expected)

Krippendorff's alpha: 0.23567624334318582
Average Cohen's Kappa (pairwise): nan
Proportional agreement (pairwise): 0.6230672746100898

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.36149373349214775
Average Cohen's Kappa (pairwise): nan
Proportional agreement (pairwise): 0.696844526684983

{'Krippendorff': 0.36149373349214775,
 'Proportional': 0.696844526684983,
 'Av_Cohens_kappa': nan}

In [2]:
# Run 4 see if selecting good workers helps agreement:

# no whitelist
run = '4'
batch = '20'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '27'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '28'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '29'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '40'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '41'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '42'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '43'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '44'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '45'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '46'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '47'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)
# Whitelist
run = '4'
batch = '48'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '119'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '120'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

# Whitelist
run = '4'
batch = '121'
n_q = '*'
group = 'experiment2'
print(f"Run {run}:")
data_dict_list = load_experiment_data(run, group, n_q, batch, remove_not_val = True)
get_agreement(data_dict_list)

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.1773467340972621
Average Cohen's Kappa (pairwise): 0.15990402232445727
Proportional agreement (pairwise): 0.5741741741741743

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.36094682230869035
Average Cohen's Kappa (pairwise): 0.3567475052361654
Proportional agreement (pairwise): 0.7078078078078076

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.38306989982331197
Average Cohen's Kappa (pairwise): 0.38816630417457004
Proportional agreement (pairwise): 0.732456140350877

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.27779308118876944
Average Cohen's Kappa (pairwise): 0.2813174663604737
Proportional agreement (pairwise): 0.6657407407407409

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.28576527457959255
Average Cohen's Kappa (pairwise): 0.28760343265417637
Proportional agreement (pairwise): 0.6632716049382716

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.2768403864897817
Average Cohen's Kappa (pairwise): 0.2781291987090818
Proportional agreement (pairwise): 0.6587719298245616

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.38854530410759147
Average Cohen's Kappa (pairwise): 0.388765321847061
Proportional agreement (pairwise): 0.6987987987987986

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3684756150950007
Average Cohen's Kappa (pairwise): 0.37126492348331763
Proportional agreement (pairwise): 0.7069069069069067

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3045833639053982
Average Cohen's Kappa (pairwise): 0.305129795681797
Proportional agreement (pairwise): 0.6672364672364673

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3862504409171078
Average Cohen's Kappa (pairwise): 0.39067801043143047
Proportional agreement (pairwise): 0.7012345679012345

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.2779135225775543
Average Cohen's Kappa (pairwise): 0.284282081004632
Proportional agreement (pairwise): 0.6545454545454547

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3613558843684369
Average Cohen's Kappa (pairwise): 0.36303578441868367
Proportional agreement (pairwise): 0.7163580246913579

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.31568332789916853
Average Cohen's Kappa (pairwise): 0.3168582159819614
Proportional agreement (pairwise): 0.693732193732194

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3836959814666314
Average Cohen's Kappa (pairwise): 0.3877003212660054
Proportional agreement (pairwise): 0.7030864197530866

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.3821749852384425
Average Cohen's Kappa (pairwise): 0.38602971504524153
Proportional agreement (pairwise): 0.7132716049382718

Run 4:
Discarded 0.0 annotations.
Krippendorff's alpha: 0.40794097920858496
Average Cohen's Kappa (pairwise): 0.40503694381656713
Proportional agreement (pairwise): 0.7307017543859646

{'Krippendorff': 0.40794097920858496,
 'Proportional': 0.7307017543859646,
 'Av_Cohens_kappa': 0.40503694381656713}

## Agreement after removing workers or annotations:

In [13]:
run = '4'
batch = '*'
n_q = '*'
group = 'experiment2'

df = get_overview(run, batch, n_q, group)
df

NameError: name 'get_overview' is not defined

## IAA by relation

In [14]:
runs = ['4', '3', '1']
experiment_name = 'experiment*'
path, df = agreement_relations_across_runs(runs, experiment_name)
print(f'Results written to: {path}')
df

Discarded 0.0 annotations.
Discarded 655.0 annotations.
Discarded 0.0 annotations.
Results written to: ../analyses/iaa/relations_runs4-3-1.csv

,1_Av_Cohens_kappa,1_Krippendorff,1_Proportional,3_Av_Cohens_kappa,3_Krippendorff,3_Proportional,4_Av_Cohens_kappa,4_Krippendorff,4_Proportional,relation
0,NaN,0.143751,0.580081,NaN,0.215107,0.605239,NaN,0.218591,0.616193,variability_open
1,NaN,0.904637,0.964443,NaN,0.607970,0.883546,NaN,0.915382,0.958743,_check
2,NaN,0.040020,0.525403,NaN,0.058862,0.542721,NaN,0.163894,0.669601,creative
3,NaN,0.260459,0.629637,NaN,0.259537,0.646077,NaN,0.440703,0.722184,implied_category
4,NaN,0.149149,0.671726,NaN,0.196397,0.654828,NaN,0.389729,0.699750,affording_activity
5,NaN,0.157270,0.578680,NaN,NaN,NaN,NaN,NaN,NaN,variability_subcategories
6,NaN,0.183925,0.679735,NaN,0.133176,0.656011,NaN,0.378191,0.777160,impossible
7,NaN,0.336767,0.697995,NaN,0.178122,0.641176,NaN,0.586237,0.796600,afforded_usual
8,NaN,0.120147,0.560796,NaN,0.157012,0.574246,NaN,0.306473,0.682856,unusual
9,NaN,0.108460,0.555869,NaN,0.067595,0.542577,NaN,0.101771,0.720905,afforded_unusual
10,NaN,0.197795,0.602036,NaN,0.103467,0.551250,NaN,0.253487,0.629157,variability_limited
11,NaN,0.367910,0.688961,NaN,0.307788,0.711897,NaN,0.433482,0.719246,typical_of_concept
12,NaN,0.326482,0.682228,NaN,0.234555,0.753890,NaN,0.327146,0.706556,typical_of_property
13,NaN,NaN,NaN,NaN,0.258187,0.697828,NaN,0.420957,0.752841,test_false
14,NaN,NaN,NaN,NaN,0.038257,0.781365,NaN,0.004231,0.805916,test_true
15,NaN,NaN,NaN,NaN,0.129970,0.574512,NaN,0.280844,0.687684,rare